
  /* HeroSlider.css */
.hero-slider {
  max-width: 100%;
  height: auto;
}

.heroImageMargin{
  margin-top: 68px;
}

.carousel-item img {
  object-fit: cover;
  height: 100vh; /* Full height on larger screens */
}

.custom-caption-left {
  position: absolute;
  /* bottom: 10px; */
  /* left: 10px; */
  text-align: center;
}



/* For small devices like mobile phones */
@media (max-width: 576px) {
  .carousel-item img {
    height: 35vh; /* Adjust height for mobile screens */
    object-fit: cover; /* Ensure the image scales correctly */
  }
  .heroImageMargin {
    margin-top: 67px;
  }
}

/* For medium devices like tablets */
@media (min-width: 577px) and (max-width: 991px) {
  .carousel-item img {
    height: 60vh; /* Adjust height for tablet screens */
    object-fit: cover; /* Ensure the image scales correctly */
  }
  .heroImageMargin {
    margin-top: 68px;
  }
}

/* For large devices like laptops and desktops */
@media (min-width: 992px) {
  .carousel-item img {
    height: 85vh; /* Adjust height for desktop screens */
    object-fit: cover; /* Ensure the image scales correctly */
  }
  .heroImageMargin {
    margin-top: 68px;
  }
}
