body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-family: "Poppins", sans-serif;
  color: #6c757d; /* Adjust this to fit your design */
  text-align: Center;
  font-weight: 600; /* For bold headings */
  font-size: 30px;
}
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600; /* For bold headings */
  color: #6c757d;
  text-align: Center;
  font-size: 25px;
}

p,
li,
span {
  font-family: "Poppins", sans-serif;
  font-weight: 400; /* For body text */
  color: #ece3e3; /* Adjust for readability */
}

/* For small devices like mobile phones */
@media (max-width: 576px) {
  .contactMargin {
    margin-top: -120px;
  }
  h5 {
    font-weight: 400;
    font-size: 15px;
  }
  a {
    margin-bottom: 0.4rem;
  }

  .form-control {
    /* line-height: 0; */
    width: 90%;
  }
  input {
    width: 100%;
  }
}

/* For medium devices like tablets */
@media (min-width: 577px) and (max-width: 991px) {
  h5 {
    font-weight: 200;
    font-size: 18px;
  }
}

/* For large devices like laptops and desktops */
@media (min-width: 992px) {
  h5 {
    font-weight: 200;
    font-size: 20px;
  }
}
